

/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --lr-blue: #0084fd;
    --lr-lightblue: #b5ddff;
    --lr-violet: #9792e4;
    --lr-okra: #fdc15f;
    --lr-dark: #333333;

}

body{

    font-family: 'PT Sans', sans-serif;
    max-width: 1400px;
    margin: auto;

}





.debug [class^="col_"] {

    border: 1px solid black;
    height: 200px;


}

/* default set */


/* header */

#navbar{

    max-width: 1400px;
    margin: auto;
    background-color: var(--lr-blue);
}

#nav_container{

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo img{

    height: 60%;

}

#link{

    display: flex;
    justify-content: space-around;
    width: 50%;
    color: white;

}

#menu{

    display: none;
    color: #fff;
}

.nav_button{

    border-radius: 25px;
    padding: 5px 10px;
    background-color: #fff;
    margin: -5px;
    text-decoration: none;
}

/* end header */

/* main section */

.container{

    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;

}

section{

    margin: 10px auto;

}

/* container and section */


/* utility */

.demo_apply_contained{

    width: 95%;
    height: 95%;
    border-radius: 25px;
    margin: 5px auto;
    display: flex;
    background-color: var(--lr-lightblue);
    
}

.demo_application{

    width: 50%;
    height: 208px;
    padding: 5px;
}

.clean_code{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img_phone_apply{

    height: 100%;
    margin-left: 50px;
}

.application{

    padding: 10px;
}

.app_store{

    border: none;
    background-color: var(--lr-blue);
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 10px;

}

.title{

    color: var(--lr-blue);
    
}

.icon{

    font-size: 40px;
    color: var(--lr-blue);
    padding-top: 20px;
}

.text{

    color: grey;
    font-size: 12px;
}

#planning{

    background-color: var(--lr-violet);
    padding: 20px;
}

.container_img{

    height: 50%;

}

.white_bg{

    border-radius: 25px;
    background-color: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img_planning{

    height: 95%;
    padding: 30px 50px;

}

.second_img{

    height: 65%;
    
}

#arrow_down{

    background-color: var(--lr-violet);
    border-radius: 50%;
    padding: 5px;
}

#title_plan{

    color: white;
    padding: 20px;
    margin-left: 30px;
}

#text_plan{

    color: white;
    font-size: 14px;
    padding: 31px;
    line-height: 1.6;
    margin-left: 20px;
    
}

.head_section_terminal{

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    line-height: 1.6;
}

.content_terminals{

    background-color: var(--lr-violet);
    border-radius: 25px;
}


.title_terminals{

    color: var(--lr-violet);

}

.text_terminals{

    font-size: 12px;
    text-align: center;

}

.img_placement_section{

    width: 30%;

}

.img_terminals{

    width: 100%;
    border-radius: 100%;

}

.text_placement{

    width: 70%;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    padding: 20px;
    color: white;

}

#benefits{

    background-color: var(--lr-violet);

}

.head_benefits{

    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits_content{

    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    line-height: 1.6;
    align-items: flex-start;
    margin: 10px auto;
}

#title_benefits{

    color: white;
    margin: 30px;
}

.title_benefits_content{

    font-size: 50px;
    color: var(--lr-violet);
    padding: 10px;
}

.benefits_second_title{

    color: var(--lr-violet);
    padding: 0 10px;
}

.img_placement_section{

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    line-height: 1.6;
    margin: auto;
}

.text_aboutus{

    line-height: 200%;
    padding: 5px;
}

#text_linkedin{

    color: var(--lr-violet);

}

.more{

    background-color: var(--lr-violet);
    padding: 5px 30px;
}

.linkedin{

    padding: 10px 0;

}

#content_text{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    line-height: 1.6;
}

#get_started{

    background-color: var(--lr-violet);

}

.get_start{

    color: #fff;

}

#large_text_title{

    color: var(--lr-okra);
    font-size: 60px;
}

.button_baseline{

    padding: 10px 30px;

}

.text_get_start{

    color: white;
    padding: 10px;

}


.get_started_margin, .margin{

    margin-bottom: 0;
}

#app_footer{
    
    background-color: var(--lr-dark);

}

.downbar{

    margin: 0 auto;

}

/* utility */


/* structure column */

.col_4{

    width: calc( 100% / 12 * 4);
    
    
}

.col_6{

    width: calc( 100% / 12 * 6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col_8{

    width: calc( 100% / 12 * 8);
    
}

.col_12{

    width: 100%;
    margin: 10px auto;
    display: flex;
    

}

/* end structure column */

/* media query */

@media screen and ( max-width: 480px ) {

    .container{

        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #link{

        display: none;

    }

    #menu{

        display: block;

    }



}

@media screen and ( max-width: 768px ) {

    .container{

        width: 100%;
        overflow: hidden;

    }

    .col_md_6{

        width: 100%;

    }

    .col_md_4{

        width: 50%;

    }

    #link{

        display: none;

    }

    #menu{

        display: block;

    }

}

